@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

:root {
    --sd-color-primary: #3271B8;
    --sd-color-primary-light: #80B8E3;
    --sd-color-dark: #383D42;
    --sd-color-light: #EDEFF2;

    --sd-color-card-border-hover: var(--sd-color-primary);
}

body {
    font-family: 'Poppins';
}

a {
    color: var(--sd-color-primary);
}

pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.pre {
    font-family: 'Fira Code';
    font-size: 14px;
}

.navbar a {
    color: var(--sd-color-light);
}

.navbar a:hover {
    color: var(--sd-color-light);
}


.navbar {
    background-color: var(--sd-color-dark);
}

.content:not(.custom) {
    max-width: 90%;
}

.page-nav {
    max-width: 100%;
}

.vp-sidebar {
    font-size: 14px;
    margin: 8px;
}

.vp-sidebar .toctree-l1 a:hover {
    color: var(--sd-color-primary);
}

.vp-sidebar .toctree-l1.current a {
    border-left:.5rem solid var(--sd-color-primary-light);
}

.vp-sidebar .toctree-l1 a.current {
    color: var(--sd-color-primary);
    border-left-color: var(--sd-color-primary);
}

.admonition.hint, .admonition.tip {
    background-color: var(--sd-color-light);
    border-color: var(--sd-color-primary-light);
}

.card-header {
    font-size: 18px;
    font-weight: bold;
}