@import url("nature.css");
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');

body {
    font-family: 'Raleway';
    background: #1a1f2b !important;
}

.section h1 {
    font-size: 300% !important;
    font-family: 'Russo One' !important;
    color: black !important;
    text-shadow: 3px 3px 1px white, -3px 3px 1px white, 3px -3px 1px white, -3px -3px 1px white !important;
    background: #4791cd !important;
}

.section h2 {
    font-size: 180% !important;
    font-family: 'Russo One' !important;
    color: black !important;
    text-shadow: 1px 1px 1px white, -1px 1px 1px white, 1px -1px 1px white, -1px -1px 1px white !important;
    background: #3372b8 !important;
}

.section a {
    color: #0e4c8b;
}

.sidebar {
    background: #bfdbf1 !important;
}

.sidebar-title {
    font-size: 150% !important;
    font-family: 'Russo One' !important;
}

.related[role="navigation"] {
    background: #0e4c8b;
}

.right {
    background: #0e4c8b;
}

.related[role="navigation"] a {
    color: white;
}
